*{
    box-sizing: border-box;
}
.header {
    font-family: 'Amatic SC', cursive, sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.container {
    height: 100%;
}
/* NAVIGATION*/
#home-pg-btn{
    padding-left: 19px;
    padding-right: 19px;
    font-family: 'Amatic SC', cursive, sans-serif;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    color: black;
}
.navbar {
    font-size: 18px;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.bi-github, .bi-linkedin{
    font-size: 20px;
}
.nav-item {
    padding:.5rem;
}
.nav-link.active,
.nav-link:hover {
    color: pink!important;
}
/*   INDEX   */
#l-pg{
    background-image: url("../images/trees2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    height: 100vh;
}
.carousel-caption {
    text-transform: uppercase;
    color: pink;
}
#hrlp{
    border-color: darkgray;
}
/*   ABOUT ME   */
#me {
    box-shadow: 0 .5 .5 rgba(0, 0, 0, 0.1)
}
.abi{
    font-size: 72px;
    color: pink;
}
li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}
/*   PROJECTS   */
.modal-content{
    position: center;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 85%;
}
@media (max-width: 962px) {
    .modal-backdrop { 
        display: none !important;
    }
    #modals {
        display: none !important;
    }
}
/*   CONTACT   */
.contact-body{
    background-image: url("../images/Post-mad-bills.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: darkgrey;
    height: 100vh;
}
.contact-form{
    background: rgba(0,0,0, .6);
    color: white;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: 'Montserrat', sans-serif;
}
/*   FOOTER   */
footer {
    /*margin-top: 30px;
    margin-bottom: 0px;*/
    color: white;
    position: relative;
    bottom: 0;
}
.page-footer:active,
.page-footer:hover,
a {
    color: pink!important;
}