*{
    box-sizing: border-box;
}
.header, h3 {
    font-family: 'Amatic SC', cursive, sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.container {
    height: 100%;
}
.page-footer:active,
.page-footer:hover,
a {
    color: pink!important;
}
/* NAVIGATION*/
#home-pg-btn{
    padding-left: 19px;
    padding-right: 19px;
    font-family: 'Amatic SC', cursive, sans-serif;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    color: black;
}
.navbar {
    font-size: 18px;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.bi-github, .bi-linkedin{
    font-size: 20px;
}
.nav-item {
    padding:.5rem;
}
.nav-link.active,
.nav-link:hover {
    color: pink!important;
}
/*   INDEX   */
#l-pg{
    background-image: url("../images/trees2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    height: 100vh;
}
#lpt {
    text-transform: uppercase;
    color: pink;
    text-align: center;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
}
#hrlp{
    border-color: darkgray;
}
/*   ABOUT ME   */
#me {
    box-shadow: 0 .5 .5 rgba(0, 0, 0, 0.1)
}
.abi{
    font-size: 72px;
    color: pink;
}
li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}
/*   PROJECTS   */
.modal-content{
    position: center;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 85%;
}
@media (max-width: 962px) {
    .modal-backdrop { 
        display: none !important;
    }
    #modals {
        display: none !important;
    }
}
#projects-pg{
    height: 100vh;
}
/*   CONTACT   */
#PMB{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 3%;
}
.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
}
.rt{
    background-color: rgb(38, 38, 38);
    color: pink;
    font-family: 'Amatic SC', cursive, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
#my-bills{
    margin-top: 10px;
    border: pink dotted 5px;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
}
#contact-pg{
    background-image: url("../images/Post-mad-bills.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    background-color: white;
    height: 100vh;
}